@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/extends";

.main {
  padding-top: 20px;
  &__form {
    height: 100%;
    &-heading {
      font-size: 2.4rem;
      padding-bottom: 20px
    }
    &-block {
      padding-bottom: 16px;
      &-title {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-label;
        padding-bottom: 6px;
      }
      &-password {
        @include flex(row, space-between, center);
        position: relative;
        background-color: $fill-input-block;
        border-radius: $border-radius;
        padding: 2px 16px 2px 16px;
        height: 96px;
        &-text {
          background-color: transparent;
          border: none;
          outline: none;
          color: $color;
          font-weight: 700;
          font-size: 1.6rem;
          width: 100%;
          padding: 0;
          text-align: center;
          letter-spacing: 4px;
          &--none {
            color: $color-light;
            font-weight: 700;
            font-size: 1.6rem;
            letter-spacing: normal;
          }
        }
      }
      &-input {
        @extend .main__form-block-password;
        height: 64px;
        margin-bottom: 20px;
        &-span {
          font-size: 1.3rem;
        }
        &-label {
          @extend .main__form-block-input-span;
          font-size: 1.8rem;
        }
        &-field {
          &[type='checkbox']::after {
            @extend %checkbox-defaults;
          }
          &[type='checkbox']:checked::after {
            @extend %checkbox-defaults;
            background-color: $fill-accent;
          }
          &--length {
            flex-grow: 1;
            margin: 0 10px;
          }
        }
      }
      &-button {
        @include button;
        font-weight: 700;
        margin-right: 16px;
        font-size: 1.6rem;
        color: $color;
        background-color: $fill-button;
        &:hover {
          background-color: $fill-button-hover;
        }
        &--submit {
          margin-right: 0;
          flex-grow: 1;
            background-color: $fill-button;
          &:hover {
            background-color: $fill-button-hover;
          }
        }
      }
      &--buttons {
        @include flex(row, space-between, center);
        background-color: transparent;
        flex-direction: row-reverse;
      }
    }
  }
}