// Color Variables //

// Fill colors
$fill-background: #07102d;
$fill-input-block: #0b193e;
$fill-header: #0b193e;
$fill-accent: #3d55e3;
$fill-light: #eeedf0;

$fill-button: #3d55e3;
$fill-button-hover: #8b57ce;
$fill-button-disabled: #98a2db;

// Text Colors
$color: #eeedf0;
$color-label: #eeedf065;
$color-light: #eeedf065;

// Border
$border-radius: 6px;

// Button colors
$button-accent: #3d55e3;
$button-hover: #2282a8;

// Font variables
$font-global: "Poppins", sans-serif;

// Shadows
$shadow-text: 0px 0px 8px rgba(30, 134, 164, 0.8);

// Heights
$height-header: 40px;
$height-footer: 40px;