@import "../../partials/variables";
@import "../../partials/mixins";

.footer {
  height: $height-footer;
  background-color: $fill-header;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  &__block {
    @include flex(row, flex-end, center);
    height: 100%;
    &-link {
      @include flex-center;
      opacity: 0.75;
      margin-left: 16px;
      &--credit {
        margin-right: auto;
        margin-left: 0;
      }
      &-logo {
        height: 24px;
      }
    }
  }
}